
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Caveat:wght@400;600&display=swap');

:root {

     --quadro: #1f3a2f;
     --quadro-dark: #162921;
     --quadro-light: #2a5a45;
     --quadro-op: #126943;

     --madeira: #5a3e2b;
     --madeira-dark: #2b1e16;
     --madeira-light: #b07d52;


     --giz: #f5f5f5;
     --giz-escuro: #cfcfcf;


     --vermelho: #a63c2f;
     --vermelho-dark: #922b21;


     --accent: #e8c84a;
     --ink: #2c1810;
}


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background: var(--madeira-dark);
     font-family: 'Special Elite', cursive;
     font-family: 'Caveat', cursive;
     font-family: 'Libre Baskerville', serif;
     min-height: 100vh;
}